<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2>Registration Completed Successfully</h2>
        <p>You can now log in to your account using credentials created.</p>
        <hr />
        <p>Thank You.</p>
    </div>
</div>